body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header-image {
    background: linear-gradient(rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 0.59)), url('architecture-g207a7c7d3_1920.jpg') no-repeat center center fixed;
    width: 100%;
    object-fit: cover;
    word-wrap: break-word;
    position: relative;
    background-size: cover;
}

.is-outlined {
    background-color: transparent;
    color: #fff;
}

.hero-cta {
    padding: 30px 0;
}

.panel-block.section p {
    font-size: 17px;
    line-height: 1.4;
    color: #95A5A6;
}

.section.main {
    background-color: #F0F0F0;
}

.icon-block {
    font-size: 5em;
}

.button.is-primary {
    background-color: #0056bc;
    border-color: transparent;
    color: #fff;
    border-radius: unset;
}